@import 'base';

// ====== navbar section Style here =====
.navbar {
  &__main {
    gap: 4rem;
  }
  &__item {
    font-family: $font-work-sans;
    font-weight: 500;
    font-size: 1.125rem;
  }
  &__link {
    color: $dark-2-color;
  }
}
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
