@import 'base';

// ====== navbar section Style here =====
.navbar {
  &__logo {
    font-family: $font-work-sans;
    font-size: 4rem;
    color: $dark-1-color;
    width: 302px;
    height: 53px;
  }
}
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
// ====== navbar section Style here =====
